{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block carrusel %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'core/images/blacki.gif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/images/black.gif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/images/black1.gif' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      
{% endblock carrusel %}


{% block content %}

  
  {% if productos %}
    <div class="container-fluid">
      <div class="row">
        {% for producto in productos %}
          <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-2 border border-1 m-2 pt-3 pb-4" style="width: 15.2rem;">
            <a href="{% url 'ficha' producto.id %}" class="link-bloque">
              <img src="/media/{{ producto.imagen }}" class="index-producto-imagen" class="card-img-top" width="165" height="165" alt="">
              <div class="card-body">
                <h6 class="card-title">
                  {{ producto.nombre }}
                </h6>
                <h7 class="card-title"> 
                  {{ producto.html_estado|safe }}
                  <br>
                  {{ producto.html_precio|safe }}
                </h7>
                <p class="card-text index-producto-descripcion" data-toggle="tooltip" title="{{ descripcion_producto }}"> 
                  {{ producto.descripcion }}
                  <br>
                  {{ producto.html_stock }}
                </p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h2>No se encontraron productos</h2>
  {% endif %}

{% endblock content %}
